{% extends 'network/layout.html' %}
{% load static %}

{% block script %}
    <script type="text/javascript"
            src="{% static "network/edit.js" %}"></script>
    <script type="text/javascript"
            src="{% static "network/like.js" %}"></script>
{% endblock %}

{% block body %}
    <h3>All Posts</h3>
    <div>
        <form method="post">
            <h4>New Post</h4>
            <p>
                {{ form.text.errors }}
                {{ form.text }}
            </p>
            <input type="submit" value="Post">
            {% csrf_token %}
        </form>
    </div>
    <div>
        {% for post in page_object %}
            <div>
                <p><a href="{% url 'profile' post.user.id %}">{{ post.user }}</a></p>
                <p class="text">{{ post.text }}</p>
                <p>{{ post.date }}</p>
                <p>
                    {% if post.user != user %}
                        <button class="like" data-post-id="{{ post.id }}">
                            {% if user.id not in post.get_users_liking %}
                                Like
                            {% else %}
                                Unlike
                            {% endif %}
                        </button>
                    {% endif %}
                    <span>{{ post.likes }}</span>
                </p>
                {% if user == post.user %}
                    <button class="edit" data-post-id="{{ post.id }}">Edit</button>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div>
        {% if page_object.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_object.previous_page_number }}">previous</a>
        {% endif %}
        <span>
            Page {{ page_object.number }} of {{ page_object.paginator.num_pages }}.
        </span>
        {% if page_object.has_next %}
            <a href="?page={{ page_object.next_page_number }}">next</a>
            <a href="?page={{ page_object.paginator.num_pages }}">last
                &raquo;</a>
        {% endif %}
    </div>
{% endblock %}