<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> ChatApp {% block title %} {% endblock %}</title>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    {% block script_io %}  {% endblock %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
</head>
<body>
    <h2>Welcome to ChatApp</h2>
    <section id="introduction" hidden>
        <form id="form" method="post">
            <label>Enter your name:
                <input type="text" name="name" autocomplete="off" autofocus>
            </label>
            <button type="submit">Submit</button>
        </form>
    </section>
    {% block channels %}
    {% endblock %}
</body>
</html>