{% extends 'base.html' %}

{% block channels %}
    <section id="channels">
        <nav id="nav">
            <a class="btn btn-success btn-sm" href="{{ url_for('new_channel') }}">Create new channel</a>
        </nav>
        <div id="channels-container">
            <h3>List of channels:</h3>
            <div class="list-group">
                {% for channel in channels %}
                    <a class="list-group-item list-group-item-action list-group-item-success" href="{{ url_for('channel_view', channel_name=channel) }}">{{ channel }}</a>
                {% else %}
                    <span class="info">No channels available</span>
                {% endfor %}
            </div>
        </div>

    </section>
{% endblock %}