{% extends 'base.html' %}

{% block title %} - Create channel {% endblock %}
{% block script_io %}
    <script type="text/javascript" src="{{ url_for('static', filename='io.js') }}"></script>
{% endblock %}

{% block channels %}
    <section id="channels">
        <h4 data-channel="{{ channel }}">Channel: {{ channel }}</h4>
        <ul id="messages">
        </ul>

        <form id="form_message">
            <input id="text_message" type="text" placeholder="Type a message..." autocomplete="off" autofocus>
            <button type="submit">Send</button>
        </form>
    <a href="{{ url_for('index') }}">Leave channel</a>
    </section>
{% endblock %}