{% extends 'base.html' %}

{% block title %} - Create channel {% endblock %}

{% block channels %}
    <section id="channels">
        <ul id="messages">
            {% for message in channel.messages %}
                <li>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
        <h4>Channel: {{ channel }}</h4>

        <form id="form_message">
            <input id="text_message" type="text" placeholder="Type a message..." autocomplete="off" autofocus>
            <button type="submit">Send</button>
        </form>
    </section>
{% endblock %}