// Text color variables
$title-color: darkgreen;
$text-color: green;
$info-color: orange;

// Sections
#introduction {
    text-align: center;
}

#channels {
    text-align: center;
}

// Containers
%container {
    color: $text-color;
    display: inline-block;
}

#name-form-container, #channel-form-container {
    @extend %container;
    width: 300px;
}

#channels-container {
    @extend %container;
    width: 400px;
}

#channel-messages-container {
    color: $text-color;
    display: inline-block;
}

@media (min-width: 800px) {
  #channel-messages-container {
    width: 60vw;
  }
}

@media (max-width: 799px) {
  #channel-messages-container {
    width: 90vw;
  }
}

// Other selectors
.title {
    color: $title-color;
    font-style: italic;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

input[type="text"]:focus {
    border-color: $text-color;
    color: $text-color;
}

#nav {
    margin: 20px;
}


.info {
    color: $info-color;
}

#text_message::placeholder {
    color: $text-color;
}

#channel_name {
    margin-bottom: 15px;
}

#messages div {
    list-style-type: none;
    border: 2px solid $title-color;
    border-radius: 10px;
    background-color: #e5f5db;
    margin: 10px;
    padding: 10px;
}

.delete {
    float: right;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 7px;
    color:white;
    background-color: #dc3545;
    border: none;
}