// Text color variables
$title-color: darkgreen;
$text-color: green;
$info-color: orange;

// Sections
#introduction {
    text-align: center;
}

#channels {
    text-align: center;
}

// Containers
%container {
  color: $text-color;
  display: inline-block;
}

#name-form-container, #channel-form-container {
    @extend %container;
    width: 300px;
}

#channel-messages-container {
    color: $text-color;
}

#channels-container {
    @extend %container;
    width: 400px;
}

@media (min-width: 800px) {
  #message-form-container {
    display: inline-block;
    width: 60vw;
  }
}

@media (max-width: 799px) {
  #message-form-container {
    display: inline-block;
    width: 90vw;
  }
}

// Other selectors
.title {
    color: $title-color;
    font-style: italic;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

input[type="text"]:focus {
    border-color: $text-color;
    color: $text-color;
}

#nav {
    margin: 20px;
}


.info {
    color: $info-color;
}

#text_message::placeholder {
    color: $text-color;
}

#channel_name {
    margin-bottom: 15px;
}