$title-color: darkgreen;
$text-color: green;
$info-color: orange;

.title {
    color: $title-color;
    font-style: italic;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

#introduction {
    text-align: center;
}

#name-form-container {
    display: inline-block;
    color: $text-color;
}

#inputName {
    color: $text-color;
}

#channels {
    text-align: center;
}

#nav {
    margin: 20px;
}

#channels-container {
    color: $text-color;
    width: 400px;
    display: inline-block;
}

.info {
    color: $info-color;
}